h1, h2, h3, h4, h5, p, a, ol, ul {
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    margin: 0;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5, p, a, ul {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: .1s linear;
}

.subheader__menu ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    list-style: none;
}

.subheader__topmenu {
    position: relative;
}

.subheader__topmenu li .subheader__submenu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.subheader__submenu li {
    display: block;
    width: 500px;
}

.subheader__topmenu li:hover .subheader__submenu {
    display: block;
    width: 500px;
}


.subheader__submenu li a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #5577ae;
    color: #1D407C;
}

.subheader__submenu li:last-child a {
    border-bottom: none;
}

.subheader__submenu li a:hover {
    color: white;
    padding: 10px;
    background-color: #1D407C;
}

.subheader__menu a {
    display: inline-block;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
}

.subheader__add-search_icons:hover {
    color: #1D407C;
}

.subheader__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 15px 40px;
}

.subheader__bottom {
    background-color: #1D407C;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 54px;
}

.subheader__bottom a:hover {
    display: flex;
    background-color: white;
    color: #1D407C;
    padding: 15px 10px;
    box-sizing: content-box;
}
.subheader__icon {
    display: flex;
    align-items: center;
}

.subheader__img {
    height: 120px;
    padding-right: 20px;
}

.subheader__text {
    color: #1D407C;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
}

.white-text {
    color: #ffffff;
}

.subheader__contacts {
    display: flex;
    gap: 20px;
}

.subheader__add-search a {
    display: flex;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.subheader__contacts-item, .subheader__add-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.subheader__add-search_icons {
    cursor: pointer;
}

.subheader__add-group img {
    color: #ffffff;
}

.subheader__item-icons, .subheader__add-search_icons {
    height: 20px;
    width: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.subheader__add-group:hover .subheader__text {
    color: #1D407C;
}

.subheader__add-group img {
    filter: brightness(0) invert(1);
}

.subheader__add-group:hover img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(555%) hue-rotate(197deg) brightness(50%) contrast(92%); /* Изменение цвета иконки на синий при наведении */
}

.email-text {
    text-transform: lowercase;
}

.subheader__add-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.subheader__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
}

.subheader__search-input {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-right: 10px;
}

.subheader__search-input-item {
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: none;
}

.subheader__search-input-item::placeholder {
    color: #1D407C;
}





