/* стандартные */

h1, h2, h3, h4, h5, p, a, ol, ul {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    margin: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
    font-weight: 400;
}

h3 {
    font-size: 22px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
}

h5 {
    font-weight: 400;
    font-size: 15px;
}

p, a, ul, li {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: .1s linear;
}

@media screen and (max-width: 1100px) {
    h1, h2, h3, h4, h5, p, a, ol, ul {
        font-family: 'Raleway', sans-serif;
        color: #000000;
        margin: 0;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
    }

    p, a, ul, li {
        font-size: 12px;
    }

    .subheader__menu {
        display: none;
    }
}

body {
    margin: 0;
    width: 100%;
}

section {
    margin-top: 80px;
}

section:first-child {
    margin-top: 40px;
}


li {
    display: flex;
    list-style: none;
}

/* хедер */
.subheader__menu ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.subheader__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 0 100px;
}

.subheader__bottom {
    background-color: #1D407C;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    margin-top: 40px;
    height: 54px;
}

.subheader__topmenu {
    position: relative;
}

.subheader__topmenu li .subheader__submenu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.subheader__submenu li {
    display: block;
    width: 500px;
}

.subheader__topmenu li:hover .subheader__submenu {
    display: block;
    width: 500px;
}

.subheader__submenu li a {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #5577ae;
    color: #1D407C;
}

.subheader__submenu li:last-child a {
    border-bottom: none;
}

.subheader__submenu li a:hover {
    color: white;
    padding: 10px;
    background-color: #1D407C;
}

.subheader__menu a {
    display: inline-block;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
}

.subheader__add-search_icons:hover {
    color: #1D407C;
}

.subheader__bottom a:hover {
    display: flex;
    background-color: white;
    color: #1D407C;
    padding: 15px 10px;
    box-sizing: content-box;
}

.subheader__icon, .footer__icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.subheader__img {
    height: 120px;
}

.subheader__text {
    color: #1D407C;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
}

.white-text {
    color: #ffffff;
}

.subheader__contacts, .footer__contacts {
    display: flex;
    gap: 20px;
    /*border: #1D407C solid 1px;*/
    /*padding: 10px;*/
    /*margin-left: 20px;*/
}

.subheader__add-search a {
    display: flex;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.subheader__contacts-item, .subheader__add-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.subheader__add-search_icons {
    cursor: pointer;
}

.subheader__add-group img {
    color: #ffffff;
}

.subheader__item-icons, .subheader__add-search_icons,
.footer__item-icons {
    height: 25px;
    width: 25px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.subheader__add-group:hover .subheader__text {
    color: #1D407C;
}

.subheader__add-group img {
    filter: brightness(0) invert(1);
}

.subheader__add-group:hover img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(555%) hue-rotate(197deg) brightness(50%) contrast(92%); /* Изменение цвета иконки на синий при наведении */
}

.email-text {
    text-transform: lowercase;
}

.subheader__add-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.subheader__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 20px;
}

.subheader__search-input {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-right: 10px;
}

.subheader__search-input-item {
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: none;
}

.subheader__search-input-item::placeholder {
    color: #1D407C;
}

/* боковые разделы */
aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 220px;
    height: 720px;
    background-color: #F7F7F7;
    margin-top: 40px;
    /*margin-bottom: 15px;*/
    gap: 30px;
    padding: 20px 20px 0 20px;
}

@media screen and (max-width: 600px) {
    .subheader__top {
        display: flex;
        flex-direction: column;
        padding: 15px 20px 0 20px;
        gap: 10px;
    }

    .subheader__contacts, .footer__contacts {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

aside h5 {
    background-color: #1D407C;
}

.aside-column__item {
    height: 150px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.aside-column__item img {
    position: absolute;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.aside-column__item_description-child2,
.aside-column__item_description-child3 {
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 4;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: #1D407C;
    opacity: 0.8;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.aside-column__item_description-child3 {
    background-color: white;
    color: black;
}

.aside-column__item_description-child4__k {
    z-index: 4;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
}

.aside-column__item_description-child4__rf {
    z-index: 4;
    color: red;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.aside-column__item_description-child4 {
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 4;
    padding-top: 15px;
    padding-left: 20px;
    height: 35px;
    opacity: 0.8;
    background-color: #1D77BF;
}

.aside-column__item_description-child5 {
    justify-content: start;
    z-index: 4;
    padding-left: 20px;
    height: 35px;
    opacity: 0.8;
    background-color: #1D77BF;
}



/* слайдер + раздел документов*/
.cover {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /*width: 100%;*/
}

.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    padding: 0 80px;
}

.cover__slider {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover__slider img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* документы юридические */
.cover__legal-documents {
    display: flex;
    flex-direction: column;
    width: 290px;
    justify-content: space-between;
}

.cover__legal-documents-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    gap: 10px;
    /*padding: 0 15px;*/
    width: 100%;
    height: 235px;
    border: 0.5px solid darkgrey;
    overflow: hidden;
    position: relative;
}

.cover__legal-documents-item img {
    position: absolute;
    width: 100%;
    height: 235px;
    object-fit: cover;
}


.cover__legal-documents-item__desk {
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.cover__legal-documents-item__title img {
    height: 30px;
    width: 30px;
    position: inherit;
    object-fit: none;
}

.cover__legal-documents-item__title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    z-index: 4;
}


.cover__legal-documents-item__title h3 {
    font-weight: 400;
}

.cover__legal-documents-item__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 25px;
    z-index: 4;
}

.cover__legal-documents-item__title h3,
.cover__legal-documents-item__description p {
    text-transform: uppercase;
}

.cover__legal-documents-item__description p {
    font-weight: 400;
    line-height: 1.5;
}

.cover__legal-documents-item__description-item {
    display: flex;
    gap: 8px;
}

.cover__legal-documents-item:first-child span {
    margin-top: 10px;
}

.cover__legal-documents-item span {
    margin-top: 2px;
}

/* секции */
.about, .news {
    display: flex;
}

/* о нас */
.about {
    justify-content: flex-start;
    gap: 30px;
}

.about__item {
    display: flex;
    gap: 15px;
    width: 300px;
}

.about__item img {
    height: 50px;
    width: 50px;
}

/* новости */
.news, .review, .monitoring, .project {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-end;
}

.news__title, .review__title, .monitoring__title, .project__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.news__title-container, .review__title-container,
.monitoring__title-container, .project__title-container {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    /*padding: 10px;*/
    /*border: 1px solid black;*/
}

.news__title-container img, .review__title-container img,
.monitoring__title-container img, .project__title-container img {
    height: 20px;
    width: 20px;
}

.news__title-container h3, .review__title-container h3,
.monitoring__title-container h3, .project__title-container h3 {
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    width: fit-content;
}

.news__title hr, .review__title hr, .monitoring__title hr, .project__title hr {
    display: flex;
    width: 100%;
    height: 2px;
    border: none;
    background-color: black;
}

.monitoring__title hr {
    width: 55%;
}

.news__container, .review__container, .monitoring__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.project__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.news__item, .review__item, .monitoring__item, .project__item {
    display: flex;
    gap: 15px;
    height: fit-content;
}

.news__item img {
    /*overflow: hidden;*/
    /*position: relative;*/
}

.news__item-image {
    height: 200px;
    max-width: 180px;
    object-fit: cover;
}

.project__item {
    flex-direction: column;
    width: 300px;
}

.project__item img {
    height: 250px;
    object-fit: cover;
    background-color: black;
}

.news__item-description h5, .review__item-description h5, .monitoring__item-description h5, .project__item-title {
    font-weight: 500;
    line-height: 1.5;
}

.news__item-title, .review__item-title, .monitoring__item-title, .project__item-title {
    display: flex;
}

.project__item h5 {
    /*max-width: 300px;*/
}

.news__item-description, .news__item-details,
.review__item-description, .review__item-details,
.monitoring__item-description, .monitoring__item-details,
.project__item-description, .project__item-details {
    display: flex;
    gap: 15px;
}

.news__item-description, .review__item-description, .monitoring__item-description {
    flex-direction: column;
    opacity: 0.8;
}

.news__item-icon, .review__item-icon, .monitoring__item-icon {
    height: 15px;
    width: 15px;
}

.news__item-date, .news__item-views, .review__item-date, .review__item-views,
.monitoring__item-date, .monitoring__item-views {
    display: flex;
    gap: 10px;
    align-items: center;
}

.news__item-date-text, .news__item-views-text, .review__item-date-text, .review__item-views-text,
.monitoring__item-date-text, .monitoring__item-views-text {
    display: flex;
    color: black;
    font-weight: 400;
}


.news__button, .review__button, .monitoring__button {
    display: block;
    width: fit-content;
    margin-left: 40%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: #1D407C solid 1px;
    background-color: white;
}

.news__button p, .review__button p, .monitoring__button p {
    text-transform: uppercase;
    color: #1D407C;
    font-weight: 500;
}


/* подвал сайта */
footer {
    display: flex;
    flex-direction: column;
    background-color: #1D407C;
    margin-top: 160px;
    padding: 30px 80px 40px 80px;
}

.footer__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 30px;
}

.footer__icon h5 {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;

}

.footer__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 100px;
}

.footer__img img {
    height: 60px;
}

.footer__contacts-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer__contacts-item p {
    color: white;
}

.footer__bottom {
    opacity: 0.9;
}

.footer__bottom hr {
    background-color: white;
}

.footer__bottom p {
    color: white;
}

#scrollToTop {
    position: fixed;
    bottom: 80px;
    right: 80px;
    background-color: #D5D5D5;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#scrollToTop:hover {
    background-color: #ffffff;
}

@media screen and (max-width: 1100px) {
    .columns-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        padding: 0 40px;
    }

    .aside-column {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }

    /*.aside-column {*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: flex-start;*/
    /*    width: fit-content;*/
    /*    height: 100%;*/
    /*    background-color: #F7F7F7;*/
    /*    margin-top: 40px;*/
    /*    !*margin-bottom: 15px;*!*/
    /*    gap: 30px;*/
    /*    padding: 20px 20px 0 20px;*/
    /*}*/

    .aside-column__item {
        height: 200px;
        width: 100%;
        justify-content: center;
        /*align-items: center;*/
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .aside-column__item img {
        position: absolute;
        /*width: 250px;*/
        height: 150px;
        object-fit: cover;
        align-items: center;
    }


}

@media screen and (max-width: 600px) {
    .subheader__icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
        justify-content: center;
    }

    .subheader__icon h5 {
        display: flex;
        align-items: center;
        flex-direction: column;
        /*font-size: 11px;*/
        justify-content: center;
        gap: 10px;
    }

    .subheader__img {
        height: 100px;
    }

    .columns-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        padding: 0 10px;
    }

    .subheader__contacts, .footer__contacts {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
    }

    .subheader__contacts-item {
        order: 0;
    }

    .subheader__contacts-item:nth-child(3) {
        order: 3;
    }

    .subheader__contacts-item:nth-child(2) {
        order: 2;
    }

    .cover {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .about {
        flex-direction: column;
    }

    .footer__top {
        flex-direction: column;
    }
}


@media screen and (max-width: 600px) {
    .project__container {
        grid-template-columns: 1fr;
    }

    .project__item {
        flex-direction: column;
        width: 330px;
    }

    .project__item img {
        height: 200px;
        object-fit: cover;
        background-color: black;
    }
}



